{% extends 'layout.html' %}
{% load static %}

{% block title %}

    <title>{{ request.user }}'s | Cart</title>

{% endblock %}

{% block content %}

    <style>

        :root {
            --cart-text-color: #4f4f4f;
        }

        p {
            color: #6c757d;
        }

        a {
            text-decoration: none;
            color: var(--cart-text-color);
        }

        a:hover {
            text-decoration: none;
            color: var(--cart-text-color);
        }

        h1 {
            font-family: 'Poppins', Sans-Serif;
        }

        h2 {
            color: var(--cart-text-color);
            font-size: 1.5rem;
        }


        .main_cart {
            background: #fff;
        }

        .card {
            border: none;
        }

        .product_img img {
            min-width: 200px;
            max-height: 200px;
        }

        .product_name {
            color: black;
            font-size: 1.4rem;
            text-transform: capitalize;
            font-weight: 500;
        }

        .card-title p {
            font-size: 0.9rem;
            font-weight: 500;
        }

        .remove-and-wish p {
            font-size: 0.8rem;
            margin-bottom: 0;
        }

        .price-money h3 {
            font-size: 1rem;
            font-weight: 600;
        }

        .set_quantity {
            position: relative;
        }

        .set_quantity::after {
            width: auto;
            height: auto;
            text-align: center;
            position: absolute;
            bottom: -20px;
            right: 1.5rem;
            font-size: 0.8rem;
        }

        .page-link {
            line-height: 16px;
            width: 45px;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #495057;
        }

        .page-item input {
            line-height: 22px;
            padding: 3px;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .page-link:hover {
            text-decoration: none;
            color: #495057;
            outline: none !important;
        }

        .page-link:focus {
            box-shadow: none;
        }

        .price_indiv p {
            font-size: 1.1rem;
        }

        .fa-heart:hover {
            color: red;
        }


    </style>
    <div class="pt-5"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">

                <div class="row mt-5 gx-3">
                    <!-- left side div -->
                    <div class="col-md-12 col-lg-8 col-11 mx-auto main_cart mb-lg-0 mb-5 shadow">
                        <div class="card p-4">
                            {% if total_items > 0 %}
                                <h2 class="py-4 font-weight-bold">{{ total_items }} Courses in Cart</h2>
                            {% elif total_items == 0 %}
                                <h2 class="py-4 font-weight-bold">{{ total_items }} Course in Cart</h2>

                            {% endif %}

                            {% for item in cart_item %}

                                <div class="row">
                                    <!-- cart images div -->
                                    <div class="col-md-4 col-11 mx-auto d-flex justify-content-center align-items-center shadow product_img">
                                        <img src="/{{ item.course.thumbnail }}"
                                             class="img-fluid" alt="cart img">
                                    </div>


                                    <!-- cart product details -->
                                    <div class="col-md-7 col-11 mx-auto px-4 mt-2">
                                        <div class="row cart-row">
                                            <!-- product name  -->
                                            <div class="col-6 card-title">
                                                <h1 class="mb-4 product_name">{{ item.course.course_name }}</h1>
                                                <p style="font-size: 15px; color: black" class="mb-2">
                                                    Price: {{ item.course.course_price }}</p>
                                                <p class="mb-2">Category: {{ item.course.course_categories }}</p>
                                                <p class="mb-3">
                                                    Instructor: {{ item.course.course_instructor.username }}</p>
                                            </div>
                                            <!-- quantity inc dec -->
                                            <div class="col-6">
                                                <ul class="pagination justify-content-end set_quantity">
                                                    <li class="page-item">
                                                        <button data-sid="{{ item.course.course_price }}"
                                                                class="page-link "
                                                                onclick="decreaseNumber('textbox','itemval')">
                                                            <i class="fas fa-minus"></i></button>
                                                    </li>
                                                    <li class="page-item"><input type="text" name="" class="page-link"
                                                                                 value="1" id="textbox">
                                                    </li>
                                                    <li class="page-item">
                                                        <button onclick="increaseNumber('textbox','itemval')"
                                                                class="page-link increase-item-quantity"><i
                                                                class="fas fa-plus"></i></button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- //remover move and price -->
                                        <div class="row">
                                            <div class="col-8 d-flex justify-content-between remove_wish">
                                                <a href="javascript:void(0)"><i class="fas fa-trash-alt"></i> REMOVE
                                                    ITEM</a>
                                            </div>
                                            <div class="col-4 d-flex justify-content-end price_money">
                                                <h4>NPR <span data-sid="{{ item.course.course_price }}" id="itemval">{{ item.course.course_price }} </span></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-12 col-lg-4 col-11 mx-auto mt-lg-0 mt-md-5">
                        <div class="right_side p-3 shadow bg-white">
                            <h2 class="product_name mb-5">The Total Amount Of</h2>
                            <div class="price_indiv d-flex justify-content-between">
                                <p>Product amount</p>
                                <p>NPR <span id="product_total_amt">{{ total_price }}.00</span></p>
                            </div>
                            <div class="price_indiv d-flex justify-content-between">
                                <p>Transaction Charge</p>
                                <p>NPR <span id="transaction_charge">50.0</span></p>
                            </div>
                            <hr/>
                            <div class="total-amt d-flex justify-content-between font-weight-bold">
                                <p>The total amount of (including VAT)</p>
                                <p>NPR <span id="total_cart_amt">0.00</span></p>
                            </div>
                            <button class="btn btn-primary text-uppercase">Checkout</button>
                        </div>
                        <!-- discount code part -->
                        <div class="discount_code mt-3 shadow">
                            <div class="card">
                                <div class="card-body">
                                    <a class="d-flex justify-content-between" data-toggle="collapse"
                                       href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Add a discount code (optional)
                                        <span><i class="fas fa-chevron-down pt-1"></i></span>
                                    </a>
                                    <div class="collapse" id="collapseExample">
                                        <div class="mt-3">
                                            <input type="text" name="" id="discount_code1"
                                                   class="form-control font-weight-bold"
                                                   placeholder="Enter the discount code">
                                            <small id="error_trw" class="text-dark mt-3">Enter valid code</small>
                                        </div>
                                        <button class="btn btn-primary btn-sm mt-3" onclick="discount_code()">Apply
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- discount code ends -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'cart/script.html' %}

{% endblock %}





<script>
    var product_total_amt = document.getElementById('product_total_amt');
    var shipping_charge = document.getElementById('shipping_charge');
    var total_cart_amt = document.getElementById('total_cart_amt');
    var discountCode = document.getElementById('discount_code1');
    const decreaseNumber = (incdec, itemprice) => {
        var itemval = document.getElementById(incdec);
        var itemprice = document.getElementById(itemprice);
        var removePrice = $(itemprice).attr("data-sid");

        console.log(itemprice.innerHTML);
// console.log(itemval.value);
        if (itemval.value <= 0) {
            itemval.value = 0;
            Swal.fire(
                'Error!',
                'You can not choose negative value',
                'error'
            )
        } else {
            itemval.value = parseInt(itemval.value) - 1;
            itemval.style.background = '#fff';
            itemval.style.color = '#000';
            itemprice.innerHTML = parseInt(itemprice.innerHTML) - parseInt(removePrice);
            product_total_amt.innerHTML = parseInt(product_total_amt.innerHTML) - parseInt(removePrice);
            if (parseInt(product_total_amt) >= 0) {
                total_cart_amt.innerHTML = parseInt(product_total_amt.innerHTML) + parseInt(shipping_charge.innerHTML);
            }
        }
    }

    {#$(".cart-row").on('click', '.increase-item-quantity', function () {#}
    {#    var data_id = $(this).attr("data-sid");#}
    {#    var incdec = $(this).attr("data-box");#}
    {#    var itemp = $(this).attr("data-val");#}
    {#    console.log(incdec, itemp)#}
    {##}
    {#    var itemval = document.getElementById(incdec);#}
    {#    var itemprice = document.getElementById(itemp);#}
    {##}
    {#    itemval.value = parseInt(itemval.value) + 1;#}
    {#    itemprice.innerHTML = parseInt(itemprice.innerHTML) + data_id;#}
    {#    product_total_amt.innerHTML = parseInt(product_total_amt.innerHTML) + data_id;#}
    {#    total_cart_amt.innerHTML = parseInt(product_total_amt.innerHTML) + parseInt(shipping_charge.innerHTML);#}
    {##}
    {##}
    {#    const increaseNumber = (incdec, itemprice) => {#}
    {#        var itemval = document.getElementById(incdec);#}
    {#        var itemprice = document.getElementById(itemprice);#}
    {##}
    {#        itemval.value = parseInt(itemval.value) + 1;#}
    {#        itemprice.innerHTML = parseInt(itemprice.innerHTML) + data_id;#}
    {#        product_total_amt.innerHTML = parseInt(product_total_amt.innerHTML) + data_id;#}
    {#        total_cart_amt.innerHTML = parseInt(product_total_amt.innerHTML) + parseInt(shipping_charge.innerHTML);#}
    {##}
    {#    }#}
    {##}
    //});


    const increaseNumber = (incdec, itemprice) => {
        var itemval = document.getElementById(incdec);
        var itemprice = document.getElementById(itemprice);
        console.log(itemval, itemprice);
        var addPrice = $(itemprice).attr("data-sid");

        itemval.value = parseInt(itemval.value) + 1;

        itemprice.innerHTML = parseInt(itemprice.innerHTML) + parseInt(addPrice);
        product_total_amt.innerHTML = parseInt(product_total_amt.innerHTML) + parseInt(addPrice);
        total_cart_amt.innerHTML = parseInt(product_total_amt.innerHTML) + parseInt(shipping_charge.innerHTML);

    }
    const discount_code = () => {
        let totalamtcurr = parseInt(total_cart_amt.innerHTML);
        let error_trw = document.getElementById('error_trw');
        if (discountCode.value === "code") {
            let newtotalamt = totalamtcurr - 15;
            total_cart_amt.innerHTML = newtotalamt;
            error_trw.innerHTML = "Hurray! code is valid";
        } else {
            error_trw.innerHTML = "Try Again! invalid code";
        }
    }
</script>
