{% extends 'studentDashboardLayout.html' %}

{% block title %}

    <title>Student | Dashboard</title>

{% endblock %}
{% block content %}

    <div class="container-fluid shadow">
        <div class="container ml-25">

        </div>
    </div>

    <div class="wrapper">
        <div class="dash-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="instructor_dashboard_title"><i class="fas fa-building"></i> Student Dashboard</h2>
                    </div>
                    <div class="m-auto col-xl-3 col-lg-12 col-md-12">
                        <div class="card_dash shadow">
                            <div class="card_dash_left">
                                <h5>Total Enrolled Courses</h5>
                                <h2 class="d-flex justify-content-center">{{ total_course_enrolled }}</h2>
                            </div>
                            <div class="card_dash_right">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
