{% extends 'readCourseLayout.html' %}

{% block title %}

    <title>{{ courses.course_name }}</title>

{% endblock %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/vertical-responsive-menu.min.css' %}">

    <header class="header clearfix">
        <button type="button" id="toggleMenu" class="toggle_menu">
            <i class="fas fa-bars"></i>
        </button>
        <button id="collapse_menu" class="collapse_menu position-fixed">
            <i class="fas fa-bars collapse_menu--icon "></i>
        </button>

        <div class="course_section_title d-flex p-2 col-md-4 m-auto">
            <h3 class="m-auto justify-content-center">Reading {{ courses.course_name }}</h3>
        </div>

        <div class="header_right">
            <ul>
                <li>
                    <div class="container-fluid shadow">
                        <header>
                            <a href="/course/{{ courses.id }}" class="btn shadow float-right pr-5"><i
                                    class="fas fa-arrow-circle-left"></i> Back to
                                {{ courses.course_name }} Preview Page</a>
                        </header>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- Header End -->
    <!-- Left Sidebar Start -->
    <nav class="vertical_nav">
        <div class="left_section menu_left" id="js-menu">
            <div class="left_section">
                <ul>
                    {% for t in topics %}
                        <li class="menu--item">
                            <a href="#{{ t.id }}" class="menu--link" title="Payout">
                                <span class="menu--label">{{ t.topic_title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container shadow">
        <div class="container p-5 m-auto">
            {% for t in topics %}
                <h3 id="{{ t.id }}" class="p-2 shadow"
                    style="color: var(--color-primary);">{{ t.topic_title }}</h3>
                {{ t.topic_content |safe }}
            {% endfor %}
        </div>

    </div>
{% endblock %}
