<div class="container-fluid">
    <header class="header fixed bg-header shadow pt-2 mb-2 bg-white rounded">

        <nav class="navbar  navbar-expand-lg navbar-light">
            <a class="navbar-brand logo" href=""><span class="logo-first">Course </span><span class="logo-second">Builder</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDrop"
                    aria-controls="navbarDrop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarDrop">
                <div class="col-md-9">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link ml-3" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-3" href="#course-info">Course Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-3" href="#videos">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-3" href="#course-content">Course Content</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-3" href="#more-info">More Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-3" href="#attachments">Attachments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-3" href="#actions">Actions</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

    </header>


</div>