{% load static %}
<link rel="stylesheet" href="{% static 'css/vertical-responsive-menu.min.css' %}">

<style>

</style>

<header class="header clearfix sticky-top">
    <button type="button" id="toggleMenu" class="toggle_menu">
        <i class="fas fa-bars"></i>
    </button>
    <button id="collapse_menu" class="collapse_menu">
        <i class="fas fa-bars collapse_menu--icon "></i>
    </button>

    <div class="header_right">
        <ul>
            <li>
                <a href="/" class="btn btn-secondary btn-home mt-2">Home</a>
            </li>
            <li>
                <div class="card_dash_right1 mt-2">
                    <button class="create_btn_dash"
                            onclick="window.location.href = '/create-course';">Create Your Course
                    </button>
                </div>
            </li>
            <li>
                {% if user.is_authenticated %}
                    {% include 'header.html' %}
                {% endif %}
            </li>
        </ul>
    </div>
</header>
<!-- Header End -->
<!-- Left Sidebar Start -->
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="/instructor/dashboard" class="menu--link {{ active_dashboard }}" title="Dashboard">
                        <span class="menu--label">Dashboard</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/instructor/courses" class="menu--link {{ active_courses }}" title="Courses">
                        <span class="menu--label">All Courses</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="{% url 'pendingCourses' %}" class="menu--link {{ active_pending_courses }}" title="Verification">
                        <span class="menu--label">Pending Courses</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/create-course" class="menu--link {{ active_create_course }}" title="Create Course">
                        <span class="menu--label">Create Course</span>
                    </a>
                </li>

                <li class="menu--item">
                    <a href="/instructor/payment" class="menu--link {{ active_payment }}" title="Payout">
                        <span class="menu--label">Payout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="left_section pt-2">
            <ul>
                <li class="menu--item">
                    <a href="/instructor/settings" class="menu--link {{ active_settings }}" title="Setting">
                        <span class="menu--label">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $('.ui.dropdown').dropdown();
</script>
