{% extends 'instructorDashboardLayout.html' %}

{% block title %}

    <title>Instructor | Settings</title>

{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class='uil uil-cog'></i> Setting</h2>
                    <div class="setting_tabs">
                        <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-account-tab" data-toggle="pill"
                                   href="#pills-account" role="tab" aria-selected="true">Account</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="pills-bllingpayment-tab" data-toggle="pill"
                                   href="#pills-bllingpayment" role="tab" aria-selected="false">Billing and
                                    Payouts</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="pills-closeaccount-tab" data-toggle="pill"
                                   href="#pills-closeaccount" role="tab" aria-selected="false">Close Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}